<h1 align="center"> ALL ARTICLES</h1>

<p align="center"> <%= link_to "CREATE NEW ARTICLE", new_article_path, class:"btn btn-success" %></p> 
  
<%= render 'article', obj: @articles %>





