<h1 align="center"> ALL USERS</h1>

<p align="center"> <%= link_to "CREATE NEW User", signup_path, class:"btn btn-warning" %></p> 
  
<% @users.each do |article| %>

<div class="row">
<div class="container">
<div class="card text-center">


<div class="card-header ">
<%= link_to has_gravatar(article), user_path(article) %>
<p> <%= link_to article.username, user_path(article)%></p>
Total Articles <P><%= article.articles.count %>
</div>

</div>
</div>
</div>
<% end %>