
#logo {

float: left;

font-size: 1.7em;

color: #fff;

text-transform: uppercase;

letter-spacing: -1px;

font-weight: bold;

}

#logo:hover {

color: #222;

text-decoration: none;

}

.container{
	
	border-top: 0px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;
}


  
    
 .pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a {
  border: 1px solid #ddd; /* Gray */
}






.pagination a:hover
 {background-color: #0080ff;}

 li.active a {
  background-color: #4CAF50;
}

 .ul {
font-size: 60px;
text-transform: uppercase;

 }
