
#logo {

float: left;

font-size: 1.7em;

color: #fff;

text-transform: uppercase;

letter-spacing: -1px;

font-weight: bold;

}

#logo:hover {

color: #222;

text-decoration: none;

}

.container{
	
	border-top: 0px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;
}
