 <h1 align="center"> show category </h1>


   
  

<div class="container">
<p align="center"> <%= @category.name %>'s Articles </p>
 

</div>

</div>
<p align="center">
<%= link_to "Back To Category", categories_path, class: 'btn btn-primary' %>
</p>